### format_for_list

In [1]:
s = '{} {} {}'
f = s.format('대건', '윤기', '찬빈')
print(f)

대건 윤기 찬빈

In [2]:
s = '{}이는 {}를 {}좋아한다'
f = s.format('대건', '윤기', '찬빈')
print(f)

대건이는 윤기를 찬빈좋아한다

In [4]:
s = '{}이는 {}번이고 {} 진학했다'
f = s.format('대건', '30312', '인천대학교')
print(f)

대건이는 30312번이고 인천대학교 진학했다

In [5]:
name = '석찬'
num = 30103
add = '인천시 연수구'
s = '{}이는 {}번이고 {} 살고있다'
f = s.format(name,num,add)
print(f)

석찬이는 30103번이고 인천시 연수구 살고있다

In [6]:
name = input('이름입력>>>')
num = input('학번입력>>>')
add = input('주소>>>')
s = '{}이는 {}번이고 {} 살고있다'
f = s.format(name,num,add)
print(f)

이름입력>>>인성
학번입력>>>30317
주소>>>인천시 남구
인성이는 30317번이고 인천시 남구 살고있다

In [ ]:
stu = input('이름 학번 주소>>>').split()

이름 학번 주소>>>dlstjd

In [44]:
stu[1]

'}'

In [ ]:
s = '{}이는 {}번이고 {}에 살고있다'
f = s.format(stu[0],stu[1],stu[2])
print(f)

### [문제1] 다음과 같은 양식으로 입력받아 출력하기
- 햄버거 2 4 입력하면
- 햄버거 2개 값은 8 달라입니다.

In [40]:
da = input('햄버거 개 달라: ').split()

햄버거 개 달라: 3 4

In [43]:
s='햄버거 {} 개의 값은 {}입니다'
f = s.format(da[0], int(da[1])*int(da[0]))
print(f)

햄버거 3 개의 값은 12입니다

In [2]:
info = '%d %s %f'
pr = info%(20, '인천', 0.05)
print(pr)

20 인천 0.050000

In [4]:
info = '%d년도 %s여고 %0.2f퍼센트'
pr = info%(20, '인천', 0.05)
print(pr)

20년도 인천여고 0.05퍼센트

### [문제2] 햄버거는 2개는 8달라입니다
- '햄버거'
- 2
- 2*4

In [8]:
data = '%s %d개는 %d달라'
pr = data%('햄버거', 2, 2 * 4)
print(pr)

햄버거 2개는 8달라

### List

In [10]:
arr = [1,2,3,4,5]
arr

[1, 2, 3, 4, 5]

In [16]:
arr = ['성곤','대건','대범','호정']
arr

['성곤', '대건', '대범', '호정']

In [14]:
arr[0]

'성곤'

In [18]:
len(arr)

4

In [22]:
for i in range(1,6) :
    print(i)

1
2
3
4
5

In [21]:
for i in range(5,0,-1) :
    print(i)

5
4
3
2
1

In [23]:
for i in arr :
    print(i)

성곤
대건
대범
호정

In [26]:
for i in range(len(arr)) :
    print(arr[i])

성곤
대건
대범
호정

In [30]:
for i, val in enumerate(arr) :
    print(i+1,'번',val)

1 번 성곤
2 번 대건
3 번 대범
4 번 호정

## [문제1] 30부터 50까지 출력해보기

In [32]:
for i in range(30,51) :
    print(i)

30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50

## [문제2] 30부터 50까지 중에서 홀수만 출력해보기

In [48]:
for i in range(30,51):
    if i %2!=0 :
        print(i)

31
33
35
37
39
41
43
45
47
49

## [문제3] 30부터 50까지 중에서 홀수만 더해서 sum에 넣고 출력

In [50]:
sum=0
for i in range(30,51):
    if i %2!=0:
        sum=sum+i
        print(i)
print(sum)

31
33
35
37
39
41
43
45
47
49
400

## [문제4]
- 1부터 10까지 중에서
- 짝수이면 파이썬
- 홀수이면 야 너도 할수있어 출력

In [52]:
for i in range(1,11):
    if i %2==0:
        print('파이썬')
    else:
        print('야 너도 할수있어')

야 너도 할수있어
파이썬
야 너도 할수있어
파이썬
야 너도 할수있어
파이썬
야 너도 할수있어
파이썬
야 너도 할수있어
파이썬